nav a {

    color: #bf7979
}

nav a:hover {
    color: #636677;
}

.checkout-holder {
    display: flex;
    flex-direction: row;
}

.cart-part {
    width: 30%;
    height: auto;
    background-color: #facacb;
    ;
}

.info-part {
    width: 70%;
    height: auto;
    background-image: url(../img/kockice.png);
    height: 1200px;
    background-size: cover;
    display: flex;
    flex-direction: row;
}

.header-cart-left {
    margin-top: 200px;
}