.navigation-color {
  color: #bf7979;
}
.navigation-color:hover {
  color: #636677;
}
.main-part-editorial-inside {
  background-image: url(../img/kockice.png);
  background-repeat: repeat;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*.test {
  width: 400px;
  position: absolute;
  top: 100%;
  left: 50px;
  opacity: 0;
  animation: load_up 2s forwards;
  -webkit-animation: load_up 2s forwards;
}
.test2 {
  width: 400px;
  position: absolute;
  top: 100%;
  left: 50%;
  opacity: 0;
  animation: load_up 2s forwards;
  -webkit-animation: load_up 2s forwards;
}
.test3 {
  width: 400px;
  position: absolute;
  top: 200%;
  left: 50%;
  opacity: 0;
  animation: load_up2 2s forwards;
  -webkit-animation: load_up2 2s forwards;
}

@keyframes load_up {
  from {
    opacity: 0;
    top: 100%;
  }
  to {
    opacity: 1;
    top: 30%;
  }
}
@-webkit-keyframes load_up {
  from {
    opacity: 0;
    top: 100%;
  }
  to {
    opacity: 1;
    top: 30%;
  }
}
@keyframes load_up2 {
  from {
    opacity: 0;
    top: 200%;
  }
  to {
    opacity: 1;
    top: 700px;
  }
}
@-webkit-keyframes load_up2 {
  from {
    opacity: 0;
    top: 200%;
  }
  to {
    opacity: 1;
    top: 700px;
  }
}
*/
.persona {
  margin-top: 150px;
  width: 600px;
}
.first {
  width: 400px;
}
.first-pair-images {
  display: flex;
  align-items: flex-start;
}
.second {
  width: 600px;
  margin-right: 40px;
}
.third {
  width: 273px;
}
.fourth {
  width: 913px;
}
.inline-photo {
  opacity: 0;
  margin-bottom: 40px;
  transition: transform 4s 3s ease-out, opacity 0.4s 0.4s ease-out;
  will-change: transform, opacity;
}

.inline-photo.is-visible {
  opacity: 1;
}
/* Mobile */
@media only screen and (max-width: 835px) {
  .persona {
    margin-top: 190px;
    width: 320px;
  }
  .first {
    width: 250px;
  }
  .second {
    width: 200px;
    margin-right: 10px;
  }
  .third {
    width: 100px;
  }
  .fourth {
    width: 320px;
  }
}
