.first-part-products {
  background-image: url(../img/kockice-pink.png);
  background-size: cover;
  width: 100%;
  height: 850px;
  display: flex;
  justify-content: center;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.tops-images {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
}
.tops-images img {
  width: 250px;
  height: 250px;
  margin: 30px;
}
.tops-image-holder {
  display: flex;
  flex-direction: row;
}
.images-text-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.images-text-holder div {
  font-family: MontserratItalic;
  color: #636677;
}
.tops-price {
  font-weight: bold;
}
/* Mobile */
@media only screen and (max-width: 835px) {
  .first-part-products {
    height: 3700px;
  }
  .tops-images {
    padding-top: 150px;
  }
  .tops-images img {
    width: 340px;
    height: 340px;
    margin: 30px;
  }
  .tops-image-holder {
    display: flex;
    flex-direction: column;
  }
}
