.navigation-color {
  color: #bf7979;
}
.navigation-color:hover {
  color: #636677;
}
.first-part-single-products {
  background-image: url(../img/kockice.png);
  background-size: cover;
  width: 100%;
  height: 1000px;
  display: flex;
  flex-direction: row;
}
.left-part {
  width: 50%;
  margin-top: 180px;
  display: flex;
  flex-direction: row;
}
.column {
  padding-left: 120px;
  display: flex;
  flex-direction: column;
}

.row {
  padding: 0px 30px 10px 0px;
}

.row img {
  cursor: pointer;
  width: 100px;
}

.container {
  position: relative;
  display: block;
  cursor: zoom-in;
}

.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}
.right-part {
  margin-top: 180px;
  padding-left: 50px;
}
.cart-image {
  display: none;
}
.product-name {
  font-family: AwesomeBirds;
  font-weight: normal;
  color: #636677;
  font-size: 100px;
}
.mobile-header {
  display: none;
}
.product-color {
  font-family: MontserratRegular;
  color: #636677;
}
.color-buttons {
  display: flex;
  flex-direction: row;
}
.color-button {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 20px 20px 0px 0px;
}
.color-button.selected {
  outline: 1px solid red;
  
}
.dark-pink-button {
  background-color: #bf7979;
}
.light-pink-button {
  background-color: #facacb;
}
.pink-button {
  background-color: rgb(219, 29, 92);
}
.size-selection {
  font-family: MontserratRegular;
  color: #636677;
  margin-top: 20px;
}
.product-size {
  display: flex;
  flex-direction: row;
}
.size {
  font-family: MontserratRegular;
  color: #bf7979;
  margin: 20px 20px 0px 0px;
  cursor: pointer;
}

.size.selected {
  border: 1px solid red
}

.product-size a {
  text-decoration: none;
}
.price {
  font-family: MontserratRegular;
  color: #636677;
  margin-top: 20px;
  font-weight: bold;
}
.material {
  font-family: MontserratItalic;
  font-weight: bold;
  color: #636677;
  margin-top: 20px;
}
.material-description {
  font-family: MontserratItalic;
  line-height: 220%;
  color: #636677;
  margin-top: 20px;
}
.counting-buttons {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  align-items: center;
}
.minus-button {
  font-family: MontserratRegular;
  background-color: white;
  border: 1px solid #636677;
  width: 40px;
  height: 40px;
  text-align: center;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border-right: none;
  font-size: 25px;
  cursor: pointer;
}
.plus-button {
  font-family: MontserratRegular;
  background-color: white;
  border: 1px solid #636677;
  width: 40px;
  height: 40px;
  text-align: center;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-left: none;
  font-size: 25px;
  cursor: pointer;
}
.count-holder {
  font-family: MontserratRegular;
  background-color: white;
  border: 1px solid #636677;
  width: 40px;
  height: 40px;
  text-align: center;
  padding-top: 10px;
  border-right: none;
  border-left: none;
}
.addCart {
  width: 150px;
  height: 50px;
  text-align: center;
  border: none;
  border-radius: 28px;
  background-color: #bf7979;
  color: white;
  font-family: MontserratItalic;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.img-zoom-container {
  position: relative;
}

.img-zoom-lens {
  position: absolute;
  border: 1px solid #d4d4d4;
  /*set the size of the lens:*/
  width: 170px;
  height: 170px;
}

.img-zoom-result {
  position: absolute;
  border: 1px solid #636677;
  width: 300px;
  height: 300px;
  display: none;
  transform: scale(1.1);
  /* transition: ease-out 0.5s; */
  right: 350px;
  bottom: 50px;
}
.pair-with {
  background-color: #bf7979;
  height: 500px;
}
.pair-text {
  font-family: AwesomeBirds;
  font-size: 160px;
  position: relative;
  bottom: 80px;
  padding-left: 150px;
  background: linear-gradient(to bottom, #bf7979 0%, #bf7979 50%, white 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 835px) {
  .first-part-single-products {
    flex-direction: column;
    height: 1600px;
    background-size: contain;
  }
  .column {
    padding-left: 20px;
    flex-direction: row;
    margin-top: 650px;
    position: absolute;
    right: 5px;
  }
  .left-part {
    width: 100%;
    flex-direction: column;
    margin-top: 230px;
  }
  .row img {
    cursor: pointer;
    width: 75px;
  }
  .row {
    padding: 20px 12px 10px 0px;
  }

  .right-part {
    margin-top: 170px;
    padding-left: 20px;
  }
  .pair-text {
    font-size: 100px;
    bottom: 50px;
    padding-left: 60px;
  }
  .img-zoom-result {
    display: none;
  }
  .img-zoom-lens {
    display: none;
  }
  .img-zoom-container {
    display: none;
  }
  .web-header {
    display: none;
  }
  .mobile-header {
    display: block;
    text-align: center;
  }
}
