@font-face {
  font-family: "MontserratRegular";
  src: url("../assets/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AwesomeBirds";
  src: url("../assets/Awesome-Birds.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MontserratThin";
  src: url("../assets/Montserrat-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MontserratItalic";
  src: url("../assets/Montserrat-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MontserratSemiBold";
  src: url("../assets/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0 auto;
}
p {
  margin-block-start: 0;
  margin-block-end: 0;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  align-items: center;
}
.logo {
  width: 150px;
  height: 150px;
}
.navigation li {
  padding: 0px 40px 10px 10px;
}

nav a {
  text-decoration: none;
  font-family: MontserratRegular;
  color: white;
}
nav a:hover {
  color: #bf7979;
}
nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.social-media-icon {
  display: flex;
  flex-direction: column;
}
.social-media-icon img {
  width: 30px;
  height: 30px;
  margin: 20px 30px 0px 0px;
}
.first-part {
  background-image: url(../img/main-picture.png);
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.text-box {
  background-color: #facacb;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 85px;
  padding: 0px 30px;
}
.wear {
  font-family: MontserratThin;
  font-size: 75px;
  color: #bf7979;
}
.logo-holder-mobile {
  display: none;
}

.dropbtn {
  background-size: cover;
  background-image: url(../img/menu-bar.png);
  color: white;
  width: 30px;
  height: 25px;
}

.dropdown {
  position: relative;
  display: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 1px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: pink;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: transparent;
}
.second-part {
  background-image: url(../img/kockice.png);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.planet {
  padding: 60px 0px;
}
.about-us-text {
  font-family: MontserratItalic;
  width: 770px;

  color: #636677;
  text-align: center;
  font-size: 16px;
  line-height: 250%;
  font-weight: bold;
  padding-bottom: 50px;
}
.quote {
  color: #bf7979;
  font-family: AwesomeBirds;
  font-size: 140px;
}
.third-part {
  background-color: #bf7979;
  display: flex;
  flex-direction: row;
  align-items: center;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

/* Useful Classes */

.xy-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.transition {
  transition: all 350ms ease-in-out;
}

.r-3-2 {
  width: 100%;
  padding-bottom: 100%;
  background-color: #ddd;
}

.image-holder {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/* Main Styles */

.gallery-wrapper {
  position: relative;
  overflow: hidden;
  padding-top: 20px;
}

.gallery {
  position: relative;
  white-space: nowrap;
  font-size: 0;
  height: 400px;
}

.item-wrapper {
  cursor: pointer;
  /* arbitrary value */
  display: inline-block;
  background-color: white;
  margin-right: 20px;
  width: 350px;
  height: 350px;
}
.item-wrapper:hover {
  opacity: 0.7;
  transform: scale(1.1);
  transition: ease-out 0.5s;
}

.overlay {
  background: #facacb;
  color: #bf7979;
  width: 200px;
  transition: 0.5s ease;
  opacity: 0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  position: relative;
  bottom: 60%;
  font-family: Montserratregular;
  font-weight: bold;
  left: 20%;
}
.arrow {
  position: relative;
  bottom: 115%;
  left: 85%;
  opacity: 0;
}
.item-wrapper:hover .overlay {
  opacity: 1;
}
.item-wrapper:hover .arrow {
  opacity: 1;
}
.controls {
  font-size: 0;
  border-top: none;
  display: flex;
  justify-content: space-between;
}
.move-btn {
  width: 100px;
  height: 100px;
}
.move-btn:first-child {
  border-right: none;
}

.move-btn.left {
  cursor: w-resize;
}

.move-btn.right {
  cursor: e-resize;
}

.styles-container {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-top: 70px;
}

.fourth-part {
  background-image: url(../img/kockice.png);
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-footer {
  width: 300px;
  height: 300px;
}
.footer {
  background-image: url(../img/kockice.png);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 100px;
}

.list-footer {
  text-decoration: none;
  font-family: MontserratRegular;
  color: #636677;
}
.head {
  text-decoration: none;
  font-family: MontserratSemiBold;
  color: #bf7979;
}
.shop ul {
  text-align: center;
  text-decoration: none;
  list-style: none;
  line-height: 250%;
  font-weight: bold;
}
/* Mobile */
@media only screen and (max-width: 835px) {
  .navigation {
    display: none;
  }
  .dropdown {
    display: inline-block;
    margin-top: 20px;
  }
  .wear {
    font-size: 28px;
  }
  .first-part {
    background-image: url(../img/main-picture-mobile.png);
  }
}
