@font-face {
  font-family: "MontserratRegular";
  src: url("../assets/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AwesomeBirds";
  src: url("../assets/Awesome-Birds.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MontserratThin";
  src: url("../assets/Montserrat-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MontserratItalic";
  src: url("../assets/Montserrat-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MontserratSemiBold";
  src: url("../assets/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0 auto;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
}

html {
  scroll-behavior: smooth;
}

.wear {
  white-space: nowrap;
  overflow: hidden;
}

/* Animation */
.wear {
  animation: animated-text 2s steps(30, end) 1s 1 normal both;
}

/* text animation */

@keyframes animated-text {
  from {
    width: 0;
  }

  to {
    width: 780px;
  }
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  align-items: center;
}

.logo {
  width: 100px;
  height: 121px;
  margin-left: 50px;
  margin-top: 20px;
  cursor: pointer;
}

.navigation li {
  padding: 0px 40px 10px 10px;
}

nav a {
  text-decoration: none;
  font-family: MontserratRegular;
  color: white;
}

nav a:hover {
  color: #bf7979;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.social-media-icon {
  display: flex;
  flex-direction: column;
}

.social-media-icon img {
  cursor: pointer;
}

.face {
  width: 30px;
  height: 30px;
  margin: 20px 30px 0px 0px;
}

.insta {
  width: 30px;
  height: 30px;
  margin: 20px 30px 0px 0px;
}

.first-part {
  background-image: url(../img/NewHomePageImage.jpg);

  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* Create the parallax scrolling effect */

  background-repeat: no-repeat;
  background-position: center;
}

.text-box {
  background-color: #facacb;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
  padding: 0px 30px;
}

.wear {
  font-family: MontserratThin;
  font-size: 75px;
  color: #bf7979;
}

.logo-holder-mobile {
  display: none;
}

.dropbtn {
  background-size: cover;
  background-image: url(../img/menu-bar.png);
  color: white;
  width: 30px;
  height: 25px;
}

.dropdown {
  position: relative;
  display: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #b2b3bb;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding-top: 20px;


}

.dropdown-content a {
  color: #bf7979;
  margin: 12px 16px;
  text-decoration: none;
  display: block;
  background-image: url("../img/menu-image.jpeg");
  background-size: cover;
  height: 50px;
  display: flex;
  align-items: center;
}

.dropdown-content a:hover {
  background-color: #bf7979;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: transparent;
}

.dropbtnS {
  background-size: cover;
  background-image: url(../img/shoping-bag-pink.png);
  color: black;
  width: 30px;
  height: 30px;
  margin: 20px 30px 0px 0px;
}

.dropdownS {
  position: relative;
  cursor: pointer;
}

.dropdown-contentS {
  display: none;
  position: absolute;
  background-color: #f3dedc;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 30px;
  padding-top: 20px;
  width: 414px;
  height: 950px;
  overflow: scroll;
  overflow-y: scroll;
  overflow-x: hidden;
  top: -120px;
}

.dropdown-contentS a {
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.dropdown-contentS a:hover {
  background-color: #bf7979;
}

.dropdownS:hover .dropbtnS {
  background-color: transparent;
}

.show {
  display: block;
}

.close-content {
  width: 20px;
  height: 32px;
  right: 30px;
  position: relative;
  bottom: 10px;
}

.second-part {
  background-image: url(../img/kockice.png);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.planet {
  padding: 60px 0px;
}

.about-us-text {
  font-family: MontserratItalic;
  width: 770px;
  color: #636677;
  text-align: center;
  font-size: 16px;
  line-height: 290%;
  font-weight: bold;
  padding-bottom: 50px;
}

.quote {
  color: #bf7979;
  font-family: AwesomeBirds;
  font-size: 140px;
  margin-bottom: 50px;
}

.third-part {
  background-image: url(../img/newbackgroundprioductsGallery.png);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

/* Useful Classes */

.xy-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.transition {
  transition: all 350ms ease-in-out;
}

.r-3-2 {
  width: 100%;
  padding-bottom: 100%;
  background-color: #ddd;
}

.image-holder {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/* Main Styles */

.gallery-wrapper {
  position: relative;
  overflow: hidden;
  padding-top: 20px;
}

.gallery {
  position: relative;
  white-space: nowrap;
  font-size: 0;
  height: 400px;
}

.item-wrapper {
  position: relative;
  cursor: pointer;
  /* arbitrary value */
  display: inline-block;
  background-color: white;
  margin-right: 30px;
  width: 350px;
  height: 350px;
}

.item-wrapper:hover {

  transform: scale(1.1);
  transition: ease-out 0.5s;
}

.overlay {
  background: #facacb;
  color: #bf7979;
  width: 200px;
  transition: 0.5s ease;
  opacity: 0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  position: absolute;
  font-family: Montserratregular;
  font-weight: bold;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}

.arrow {
  position: absolute;
  top: 5px;
  right: 5px;
  opacity: 0;
}

.item-wrapper:hover .overlay {
  opacity: 1;
}

.item-wrapper:hover .arrow {
  opacity: 1;
}

.controls {
  font-size: 0;
  border-top: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.move-btn {
  margin-bottom: 10px;
}

.move-btn:first-child {
  border-right: none;
}

.move-btn.left {
  cursor: w-resize;
  margin-left: 10px;
}

.move-btn.right {
  cursor: e-resize;
  margin-right: 10px;
}

.styles-container {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-top: 70px;
}

.products-mobile {
  display: flex;
  flex-direction: column;
  display: none;
}

.fourth-part {
  background-image: url(../img/kockice.png);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 27px;
}

.logo-footer {
  width: 180px;
  height: 219px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.footer {
  background-image: url(../img/kockice.png);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 80px;
}

.list-footer {
  text-decoration: none;
  font-family: MontserratRegular;
  color: #636677;
}

.head {
  text-decoration: none;
  font-family: MontserratSemiBold;
  color: #bf7979;
}



.shop ul {
  text-align: center;
  text-decoration: none;
  list-style: none;
  line-height: 270%;
  font-weight: bold;
}

.copyRight {
  background-image: url(../img/kockice.png);
  display: flex;
  justify-content: center;
  font-family: MontserratRegular;
  color: #636677;
  padding-bottom: 30px;
  font-weight: bold;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-image: url(../img/expand-arrow-1.png);
  background-size: cover;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
}

#myBtn:hover {
  background-color: #555;
}

.popUpImage {
  background-image: url(../img/InsagramFINALimage.png);
  background-size: contain;
  display: block;
  width: 400px;
  height: 482px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
}

#thover {
  position: fixed;
  background: #000;
  width: 100%;
  height: 100%;
  opacity: 0.6;
}

#tpopup {
  background-image: url(../img/InstagramBackgroundBlackOpacity.png);
  width: 100%;
  height: 100%;
  position: fixed;
  display: none;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  box-shadow: 0 0 10px 0 #000;
}

#tclose {
  position: absolute;
  background: black;
  color: white;
  right: -15px;
  top: -15px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 12px;
  font-weight: normal;
  font-family: "Arial Black", Arial, sans-serif;
  cursor: pointer;
  box-shadow: 0 0 10px 0 #000;
}

.popUpImage-2 {
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 482px;
  top: 240px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #f3dedc;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.sidenav a {
  margin: 12px 16px;
  text-decoration: none;
  transition: 0.3s;
  color: #bf7979;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.displ-butt {
  display: none;
}

.home-menu-mobile {
  background-image: url("../Menu/1.png");
}

.tops-menu-mobile {
  background-image: url("../Menu/2.png");
}

.bottoms-menu-mobile {
  background-image: url("../Menu/4.png");
}

.body-menu-mobile {
  background-image: url("../Menu/3.png");
}

.editorial-menu-mobile {
  background-image: url("../Menu/5.png");
}

.video-menu-mobile {
  background-image: url("../Menu/6.png");
}

.faq-menu-mobile {
  background-image: url("../Menu/7.png");
}

.common-styles {
  background-size: cover;
  height: 79px;
  font-size: 25px;
  display: flex;
  align-items: center;
  font-family: MontserratRegular;
}

/* Mobile */
@media only screen and (max-width: 835px) {
  .displ-butt {
    display: inline-block;

  }

  .navigation {
    display: none;
  }

  .dropdown {
    display: inline-block;
    margin-top: 20px;
    margin-left: 10px;
  }

  .wear {
    font-size: 28px;
  }

  .first-part {
    background-image: url("../img/Image.png");
    background-position: top;
  }

  @keyframes animated-text {
    from {
      width: 0;
    }

    to {
      width: 290px;
    }
  }

  .dropdown-content {
    font-family: MontserratRegular;

  }

  .planet {
    width: 150px;
  }

  .about-us-text {
    width: 300px;
    padding-bottom: 50px;
  }

  .quote {
    font-size: 48px;
    padding-bottom: 20px;
  }

  .shop ul {
    font-size: 12px;
  }

  .styles-container {
    display: none;
  }

  .products-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .products-mobile-holder {
    position: relative;
    margin: 15px 0;
  }

  .products-mobile-holder:first-of-type {
    margin-top: 30px;
    position: relative;
    right: 50px;
  }

  .products-mobile-holder:last-of-type {
    margin-bottom: 30px;
  }

  .product-image-main {
    width: 220px;
    height: 220px;
    position: relative;
  }

  .overlay-mobile {
    background: #facacb;
    color: #bf7979;
    transition: 0.5s ease;
    opacity: 1;
    font-size: 20px;
    padding: 5px 20px;
    text-align: center;
    position: absolute;
    font-family: Montserratregular;
    font-weight: bold;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
  }

  .arrow-mobile {
    position: absolute;
    top: 22px;
    right: 12px;
    opacity: 1;
  }

  .products-mobile-holder:hover {
    opacity: 0.7;
    transform: scale(1.1);
    transition: ease-out 0.5s;
  }

  .copyRight {
    font-size: 15px;
    background-image: url(../img/footerbackgroundmob.png);
  }

  .logo-footer {
    width: 150px;
    height: 182px;
  }

  .logo {
    width: 100px;
    height: 110px;
    margin-top: 40px;
    margin-left: 0px;
  }

  .header {
    align-items: flex-start;
  }

  .basket {
    top: 145px;
  }

  .popUpImage {
    background-image: url(../img/instapopup.png);
    width: 280px;
    height: 336px;
  }

  .second-img {
    position: relative;
    left: 50px;
  }

  .third-img {
    position: relative;
    right: 50px;
  }

  .fourth-img {
    position: relative;
    left: 50px;
  }

  .downarr-holder {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }

  .downarr {
    width: 32px;
    height: 34px;

  }

  .second-part {
    display: none;
  }

  .third-part {
    background-image: url(../img/squaresmob.png);
  }

  .fourth-part {
    background-image: url(../img/footerbackgroundmob.png);
  }

  .footer {
    background-image: url(../img/footerbackgroundmob.png);
  }
}

@media only screen and (min-width: 1850px) {
  .gallery {
    height: 600px;
  }

  .item-wrapper {
    width: 500px;
    height: 500px;
  }

  nav a {
    font-size: 20px;
  }

  .wear {

    font-size: 95px;
  }

  /* Animation */
  .wear {
    animation: animated-text 2s steps(30, end) 1s 1 normal both;
  }

  /* text animation */

  @keyframes animated-text {
    from {
      width: 0;
    }

    to {
      width: 990px;
    }
  }

  .about-us-text {
    font-size: 20px;
  }

  .shop ul {
    font-size: 19px;
  }

  .head {
    font-size: 23px;
  }

  .copyRight {
    font-size: 20px;
  }

  .dropbtnS {
    width: 40px;
    height: 40px;
  }

  .insta {
    width: 40px;
    height: 40px;
  }

  .face {
    width: 40px;
    height: 40px;
  }
}